* {
  box-sizing: border-box;
}

body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgb(109, 196, 204), rgb(34, 56, 73));
}
:root {
  --btn-margin: 3px;
}
canvas {
  width: 100vw;
  height: 100vh;
  background-color: rgb(52, 82, 97);
}
